.example-form {
    max-width: 60%;
}

.example-full-width {
    width: 100%;
}

td {
padding-right: 8px;
}

.content{
    width: 80%;
    margin: auto;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #FF4081;
    padding-top: 2%;
  }
  
  .stitle {
    font-size: 22px;
    font-weight: 500;
    color: #808080;
    padding-bottom: 3%;
  }