<main class="content">
    <section>
        <h1 class="title">Nossos Serviços</h1>
        <p class="desc">Na LoveCat - Gateria Hospedagem, oferecemos uma variedade de serviços para garantir que seu gato tenha a estadia perfeita. Confira nossos serviços abaixo:</p>
    </section>
    <section class="services">
        <div>
            <h2>Serviço de Hospedagem</h2>
            <p>Nossa hospedagem inclui quartos confortáveis, alimentação de alta qualidade e cuidados personalizados. Seu gato se sentirá em casa.</p>
        </div>
        <div>
            <h2>Cuidados de Saúde</h2>
            <p>Nossos veterinários especializados em felinos garantem que seu gato receba a atenção médica adequada durante sua estadia.</p>
        </div>
        <div>
            <h2>Alimentação Gourmet</h2>
            <p>Oferecemos uma variedade de pratos gourmet para satisfazer o paladar mais exigente dos gatos. Comida de verdade para gatos de verdade!</p>
        </div>
        <div>
            <h2>Atividades Divertidas</h2>
            <p>Mantemos os gatos entretidos com brinquedos interativos, sessões de brincadeiras e áreas de escalada.</p>
        </div>
        <div>
            <h2>Cuidados Personalizados</h2>
            <p>Cada gato é único, e nossos cuidados são adaptados às suas necessidades individuais. Tratamos cada gato como se fosse nosso próprio.</p>
        </div>
        <div>
            <h2>Serviço de Transporte</h2>
            <p>Oferecemos serviço de transporte seguro e confortável para trazer e levar seu gato, garantindo uma experiência livre de estresse.</p>
        </div>
    </section>
    <section class="mais-info">
        <p>Para obter mais informações sobre nossos serviços ou para fazer uma reserva, entre em contato conosco.</p>
        
        <button mat-raised-button color="accent" routerLink="/agendamento">Reservar Agora</button>
    </section>
</main>