<mat-toolbar color="accent">
  <mat-toolbar-row>
    <img src="../assets/Image20230828172117.png" class="img" routerLink="/home">
    <span>LoveCat - Gateria Hospedagem - </span>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
      routerLink="/home"
      class="barra"
    ></mat-icon>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/login">Login</button>
  </mat-toolbar-row>
</mat-toolbar>
<section class="content">
  <nav>
    <button mat-button color="accent" routerLink="/">Home</button>
    <button mat-button color="accent" routerLink="/galeria">Galeria</button>
    <button mat-button color="accent" routerLink="/veterinarios">Atendimento Veterinários</button>
    <button mat-button color="accent" routerLink="/contato">Contato</button>
  </nav>
  <router-outlet></router-outlet>
</section>