.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .img {
    max-width: 48px;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .barra {
    cursor: pointer;
  }
  
  .foto {
    max-width: 300px;
  }
  
  .mat-grid-tile-content {
    width: 100%;
  }
  
  .cat-img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    width: 80%;
    margin: auto;
  }