<section class="hero">
    <div>
        <h1>Bem-vindo à LoveCat, o lar dos gatos mais felizes!</h1>
    </div>
</section>
<section class="content principal">
    <div>
        <h2>LoveCat - O Refúgio de Bem-Estar para Gatos!</h2>
        <p>Nossa história é uma história de amor pelos felinos. Na LoveCat - Gateria Hospedagem, nós colocamos os gatos em primeiro lugar. Nosso compromisso é fornecer um ambiente seguro, confortável e acolhedor para os seus adoráveis amigos felinos.</p>
        <button mat-raised-button color="accent" routerLink="/galeria">Ver nossos hóspedes</button>
    </div>
    <img src="https://s2-vidadebicho.glbimg.com/urmwVx5vrcLgsoEDuGy4hNvO9WU=/0x0:1200x675/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_fb623579cd474803aedbbbbae014af68/internal_photos/bs/2022/G/d/yErH6DS8Gux4ph5S5q7A/2022-05-05-img1-tecnicas-de-relaxamento-para-caes-e-gatos-site.jpeg" alt="gato relaxando">
</section>
<section class="content valores">
    <h2>Nossa Missão e Valores</h2>
    <div>
        <p><span>Bem-Estar Felino:</span> Garantir que cada gato se sinta em casa, oferecendo quartos confortáveis e espaçosos.</p>
        <p><span>Saúde e Felicidade:</span> Fornecer cuidados de saúde de qualidade, nutrição adequada e interação atenciosa.</p>
        <p><span>Tranquilidade dos Donos:</span> Oferecer paz de espírito aos donos, sabendo que seus gatos estão em boas mãos.</p>
    </div>
</section>
<section class="content reserva">
    <h2>Reserve Agora</h2>
    <p>Estamos ansiosos para receber o seu gato e proporcionar-lhe uma estadia confortável e aconchegante na LoveCat - Gateria Hospedagem.</p>
    <button mat-raised-button color="accent" routerLink="/agendamento">Reservar Agora</button>
</section>