<section class="content">
    <p class="title">Agendamento</p>    
    <div class="stitle">Preencha o formulário abaixo para agendar a estadia do seu gato conosco</div>    
    
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <label>Nome do propietário</label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <label>Email</label>
            <input type="email" matInput required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <label>Telefone</label>
            <input type="tel" matInput placeholder="55 5 5555-5555">
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <label>Nome do gato</label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <label>Data de início da estadia</label>
            <input matInput type="date">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <label>Data de término da estadia</label>
            <input matInput type="date">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <label>Comentários Adicionais</label>
            <textarea matInput></textarea>
        </mat-form-field>

        <button mat-raised-button color="accent">Enviar</button>
    </form>
</section>